/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import "tailwindcss";



span {
    display: inline-block;
}

body {
    font-family: "bebas neue";
   
}

::selection {
    background-color: #101010;
    color: white
}

.border-animate{
    cursor: pointer;
}


.border-animate::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: black;
    transition: width .3s;

}

.border-animate:hover::after{
    width: 100%;
    transition: width .3s;

}